<!DOCTYPE html>
<html>

<head>
  <title>LinkedIn Scraper</title>
  <link rel="stylesheet" href="popup.css" />
</head>

<body>

  <label for="environment">Environment:</label>
  <select id="environment">
    <option value=""></option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="E">E</option>
  </select>

  <label for="numPosts">Number of Posts:</label>
  <select id="numPosts">
    <option value="">Select Time Range</option>
    <option value="3">1-3 months</option>
    <option value="6">1-6 months</option>
  </select>

  <label for="numJobs">Number of Jobs:</label>
  <select id="numJobs">
    <option value="">Select Time Range</option>
    <option value="3">1-3 months</option>
    <option value="6">1-6 months</option>
  </select>

  <h2>LinkedIn Profile Scraper...</h2>
  <button id="scrapeButton">
    <span id="buttonText">Scrape Profile</span>
    <span id="loader" class="loader" style="display: none;"></span>
  </button>



  <ul id="profileList"></ul>
  <script src="popup.js"></script>
</body>

</html>